.input {
  width: 80%;
}

.head {
  width: 90%;
}

.text {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
}

.form-width {
  width: 60%;
  height: 55px
}

.todo {
  width: 100%
}

.head-text {
  font-family: 'Inter', sans-serif;
  font-size: 70px;
  color: whitesmoke;
  font-weight: 600;
}

.dshadow {

box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
